@charset "utf-8";


header{ width:100%; height:auto; }
.innerbox{
    width:1280px; height:94px;
    margin:0px auto;
    padding-top:27px;
    position:relative;
}
h1{
    width:203px; height:31px;
    position:absolute;
    float:left;
}
.innerbox>#navigation{
    width:600px; height:110px;
    margin:0px auto;
    position:relative;
    float:right;
    margin-right:50px;
}
.innerbox>#navigation>.gnb{
    width:600px; height:40px;
    position:relative;
}
.innerbox>#navigation>.gnb>li{
    width:auto; height:40px;
    display:block;
    float:left;
}
.innerbox>#navigation>.gnb>li>a{
    width:auto; height:40px;
    color:#888787;
    font-weight:800;
    font-size:20px;
    display:block;
    background:#fff;
    line-height:40px;
    text-align:center;
    padding:0px 14.3px;
    position:relative;
}
.innerbox>#navigation>.gnb>li>a>span{
    display:inline-block;
    width:0px; height:3px;
    background:#207082;
    transition:all 0.3s;
    line-height:0px;
    font-size:0px;
    position:absolute;
    top:40px;
    left:0px;
}
.innerbox>#navigation>.gnb>li:hover>a>span{ width:100%; }
.innerbox>#navigation>.gnb>li:hover>a{
    background:#96bcc4;
    color:#333;
}
.innerbox>#navigation>.gnb>li>.sub{
    width:auto; height:55px;
    text-align:center;
    position:absolute;
    top:43px;
    /* display:none; */
}
.innerbox>#navigation>.gnb>li:nth-child(1)>.sub{ left:15px; }
.innerbox>#navigation>.gnb>li:nth-child(2)>.sub{ left:50px; }
.innerbox>#navigation>.gnb>li:nth-child(3)>.sub{ left:100px; }
.innerbox>#navigation>.gnb>li:nth-child(4)>.sub{ left:380px; }
.innerbox>#navigation>.gnb>li:nth-child(5)>.sub{ left:450px; }
.innerbox>#navigation>.gnb>li>.sub>li{
    /* width:100%; */
    height:auto;
    display:block;
    float:left;
    /* display:flex;
    flex-direction:row;
    align-content:center;
    justify-content:space-around; */
}
.innerbox>#navigation>.gnb>li>.sub>li>a{
    display:block;
    width:100%; height:auto;
    box-sizing:border-box;
    float:left;
    padding:10px 15px;
    font-size:20px;
    font-weight:800;
    color:#454545;
    position:relative;
    /* margin-top:5px; */
}
.innerbox>#navigation>.gnb>li>.sub>li>a>span{
    display:inline-block;
    width:0px; height:3px;
    background:#31a1ba;
    transition:all 0.3s;
    line-height:0px;
    font-size:0px;
    position:absolute;
    top:40px; left:0;
}
.innerbox>#navigation>.gnb>li>.sub>li>a:hover>span{ width:100%; }
.innerbox>#navigation>.gnb>li>.sub>li>a:hover{
    /* background:#f5f5f5; */
    color:#207082;
}
.innerbox>#navigation>.sub_bg{
    width:600px; height:55px;
    background:#f5f5f5;
    display:none;
}

/* ------------------------Toggle 버튼 시작------------------ */

.toggle{
    width:30px; height:30px;
    cursor:pointer;
    border:0px;
    position:fixed;
    right:20px;
    z-index:10000;
}
.toggle>span{
    width:100%; height:5px;
    background:#454545;
    display:block;
    border-radius:1px;
    transition:all .4s;
    opacity:1;
    margin:5px 0px;
}
.toggle.on>.bar1{ transform:translate(0px, 10px) rotate(45deg); }
.toggle.on>.bar2{ opacity:0; }
.toggle.on>.bar3{ transform:translate(0px, -10px) rotate(-45deg); }

.sr_only{
    width:0px; height:0px;
    font-size:0px;
    line-height:0px;
    overflow:hidden;
    position:absolute;
    left:-999px;
    top:-999px;
    visibility:hidden;
}

/* ------------------------Toggle 버튼 끝--------------------- */
/* #nav_menu{ display:none; } */
/*----------------------서브 Toggle 시작--------------------*/

#nav_menu{
    width:200px;
    min-height:640px;
    background:#f5f5f5;
    position:absolute;
    z-index:50;
    transition:all .4s;
    top:0px; left:-200px;
}
#nav_menu.on{right:0px;}
#nav_menu>.bg_menu{
    width:350px; height:100vh;
    position:fixed;
    right:0; top:0;
    background:#f5f5f5;
    z-index:10;
    display:none;
}

#nav_menu>.bg_menu>.nav_head{
    width:280px; height:170px;
    position:fixed;
    right:50px;
    display:block;
    margin-top:20px;
}
#nav_menu>.bg_menu>.nav_head>h2{
    display:block;
    float:left;
    margin-top:10px;
}
#nav_menu>.bg_menu>.nav_head>.lang{
    width:24px; height:20px;
    display:block;
    margin-top:15px;
    margin-left:245px;
    line-height:20px;
    overflow:hidden;
}
#nav_menu>.bg_menu>.nav_head>.lang>li{
    font-size:18px;
    font-weight:600;
}
#nav_menu>.bg_menu>.nav_head>.lang>li>a{
    color:#454545;
}

#nav_menu>.bg_menu>.nav_head>.search_bar{
    height:53px;
    margin:45px auto;
    border:3px solid #888787;
}
#nav_menu>.bg_menu>.nav_head>.search_bar>form>#search_box{
    width:80%; height:53px;
    border:0;
    background:#f5f5f5;
    padding-left:10px;
    font-size:18px;
}
#nav_menu>.bg_menu>.nav_head>.search_bar>form>#btn{
    position:absolute;
}
#nav_menu>.bg_menu>.nav_head>.search_bar>form>#btn>img{
    width:30px; height:30px;
    display:block;
    float:right;
    padding:10px;
    background:#f5f5f5;
}


#nav_menu>.bg_menu>.nav_body{
    width:300px; height:250px;
    display:block;
    float:left;
    margin-top:200px;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu{
    width:300px; height:250px;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li{
    width:132px; height:50px;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu li a{
    width:100%; height:50px;
    color:#888787;
    font-size:20px;
    font-weight:800;
    display:block;
    text-align:center;
    line-height:50px;
    float:left;
    background:#fff;
    position:relative;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu li a span{
    display:inline-block;
    width:0px; height:3px;
    background:#207082;
    transition:all 0.3s;
    line-height:0px;
    font-size:0px;
    position:absolute;
    top:47px;
    left:0px;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu li:hover>a>span{ width:100%; }
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li:hover>a{
    color:#454545;
    background:#96bcc4;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.sub_m{
    width:170px; height:250px;
    display:none;
    position:absolute;
    left:132px;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.sub_m>li{
    width:170px; height:50px;
    display:block;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.sub_m>li>a{
    color:#888787;
    background:#f5f5f5;
    font-size:18px;
    font-weight:600;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.sub_m>li:hover>a>span{
    width:100%;
    background:#31a1ba;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.sub_m>li:hover>a{
    color:#207082;
    background:#f5f5f5;
}
#nav_menu>.bg_menu>.nav_body>.gnb_menu>li>.move{margin-top:-50px;}



#nav_menu>.bg_menu>.nav_bottom{
    width:320px; height:34px;
    position:absolute;
    margin-top:500px;
    /* bottom:30%; */
    right:0;
}
#nav_menu>.bg_menu>.nav_bottom>a{
    color:#454545;
    display:block;
    float:left;
    line-height:34px;
    text-align:left;
}
#nav_menu>.bg_menu>.nav_bottom>.sns_menu{
    width:163px; height:34px;
    display:block;
    float:right;
    margin-right:20px;
}
#nav_menu>.bg_menu>.nav_bottom>.sns_menu>li{
    width:34px; height:34px;
    display:block;
    float:left;
    margin-left:5px;
}
#nav_menu>.bg_menu>.nav_bottom>.sns_menu>li:first-child{ margin-left:0px; }
#nav_menu>.bg_menu>.nav_bottom>.sns_menu>li>a{
    width:100%; height:100px;
}
#nav_menu>.bg_menu>.nav_bottom>.sns_menu>li>a>img{
    width:34px; height:34px;
}
#nav_menu>.bg_menu>.nav_bottom>.sns_menu>li>a:hover>img{
    filter:invert(100%);
}


/*----------------------서브 Toggle 끝--------------------*/


