@charset "utf-8";
@import "default.css";


#innerbox{
    width: 100%;
    height: 100px;
    position: relative;
    h1{
        position: absolute;
    }
    .navigation{
        width: 100%;
        height: 100px;
        position: relative;
        background: #f02;
        display: flex;
        .gnb{
            display: block;
            display: flex;
            flex-direction: row;
            background: #555;
            width: 100%;
            height: 100px;
            li{
                justify-content: space-between;
                text-align: center;
                margin-left: 30px;
                .sub{
                    width: 70%;
                    height: 600px;
                    background: #fff;
                    position: absolute;
                    top: 100px;
                    left: 20%;
                    box-sizing: border-box;
                    border-radius: 0 0 20px 20px;
                    li{

                    }
                }
            }

        }
    }
}
#navbar{
    .control-bar{
        .wrapper{

        }
        .latest{

        }
        .to-top{

        }
    }
}

#main_slide{
    .slide1{
        .inner-wrapper1{

        }
    }
    .slide2{
        .inner-wrapper2{

        }
    }
    .slide3{
        .inner-wrapper3{

        }
    }
}

.inner_banner{
    .main_banner{
        .info{
            .info_wrapper{
                .info_img{

                }
                .info_title{

                }
                .info_txt{

                }
            }
        }
    }
}

#howto{
    .how_img{

    }
}