@charset "utf-8";
@import "default.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);



body{
    background: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
#header{
    width: 100%;
    height: 100px;
    top: 0;
    background: #D90327;
    position: relative;
    z-index: 1;
}
header#innerbox.scroll {
    background-color: #000;
    /* 변경할 스타일 추가 */
}

#innerbox{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 99999;
    h1{
        position: absolute;
        z-index: 9999;
        width: 99px;
        height: 42px;
        top: 25px;
        left: 20%;
    }
    .navigation{
        width: 100%;
        height: 100px;
        position: fixed;
        display: flex;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
        backdrop-filter: blur(15px);
        .gnb{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            position: absolute;
            line-height: 50px;
            font-size: 1.15rem;
            top: 20px;
            left: 32%;
            >li{
                justify-content: space-between;
                text-align: center;
                margin-left: 30px;
                >a{
                    font-weight: 500;
                    color: #fff;
                    >span{
                        display: block;
                        width: 100%;
                        height: 5px;
                        background: #fff;
                        margin-top: -10px;
                    }
                }
                .sub{
                    width: 60%;
                    height: 500px;
                    background: #fff;
                    position: absolute;
                    top: 75px;
                    left: -160px;
                    box-sizing: border-box;
                    border-radius: 0 0 20px 20px;
                    display: none;
                    >li{
                        display: flex;
                        flex-direction: column;
                        line-height: 40px;
                        text-align: left;
                        margin: 20px 0 0 10%;
                        >a{
                            color: #222;
                            >span{
                                position: absolute;
                                top: 48px;
                                left: 330px;
                            }
                        }
                        a:hover{
                            color: #f02;
                        }
                    }
                    >li:first-child{
                        margin-top: 40px;
                    }
                }
            }

        }
    }
}
#navbar{
    width: 260px;
    height: 650px;
    border-radius: 20px;
    background: #fffbfc;
    border: 1px solid #EA0429;
    position: absolute;
    right: 3%;
    top: 80%;
    z-index: 99999;
    .control-bar{
        width: 188px;
        height: 596px;
        margin: 0 auto;
        .wrapper{
            text-align: center;
            font-size: 24px;
            margin: 20px;
            a{
                color: #222;
                cursor: pointer;
                    display: block;
                    &:hover{
                        color: #EA0429;
                    }
            }
            >li{
                &:nth-of-type(1){
                    margin: 30px 0 30px 0;
                    font-weight: normal;
                }
                &:nth-of-type(7){
                    margin: 10px 0 10px 0;
                    font-weight: normal;
                }
                .pin{
                    position: absolute;
                    top: 35px;
                    left: 40px;
                }
                >span{
                    display: block;
                    width: 140px;
                    border: 1px solid #F798A8;
                }
                font-weight: bold;
                margin-bottom: 30px;
            }
        }
        .latest{
            width: 188px;
            height: 153px;
            border-radius: 10px;
            border: 1px solid #EA0429;
            overflow: hidden;
            text-align: center;
            margin: 20px 0 10px -20px;
            img{
                width: 188px;
                height: 153px;
                border-radius: 10px;
            }
        }
        .to-top{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px solid #EA0429;
            display: block;
            background: #F798A8;
            margin: 10px auto;
            a{
                width: 40px;
                height: 40px;
                display: inline-block;
                border-radius: 50%;
                img{
                    margin: 10px auto;
                }
            }
        }
    }
}

#main_slide{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 230px;
    >button{
        width: 80px;
        height: 100px;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        cursor: pointer;
        z-index: 8888;
        &:nth-of-type(1){
            left: 0;
            top: 40%;
        }
        &:nth-of-type(2){
            right: 0;
            top: 40%;
            transform: rotateY(180deg);
        }
        >img{
            margin:25px;
            left: 20px;
        }
    }
    >ul{
        display: flex;
        overflow: hidden;
        >li{
            >img{
                width: 100vw;
            }
            
        }
        .slide1{
            .inner-wrapper1{
                >p{
                    width: 560px;
                    height: 35px;
                    position: absolute;
                    top: 40%;
                    color: #fff;
                    left: 15%;
                    font-size: 30px;
                    &:nth-of-type(2){
                        top: 55%;
                    }
                    &:nth-of-type(3){
                        top: 410px;
                        font-size: 0.9rem;
                        top: 80%;
                    }
                }
        }
        }
        .slide2{

        }
        .slide3{

        }
    }
    
}

#banner{
    margin-bottom: 480px;
    .main_banner{
        position: relative;
        z-index: 555;
        >img{
            width: 965px;
            height: auto;
            margin: 0 auto;
        }
        >p{
            font-weight: bold;
            font-size: 48px;
            position: absolute;
            top: 650px;
            left: 50%;
            transform: translateX(-50%);
            // margin: 0 auto;
        }
        .info_wrapper{
            width: 862px;
            height: 458px;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(255, 255, 255, 0.5);
            border: 1px solid #F597A5;
            border-radius: 30px;
            .info_img{
                width: 700px;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                top: -100px;
                left: 90px;
                >img{
                    filter: drop-shadow(2px 4px 8px rgba(0, 0, 0, 0.25));
                }
            }
            .info_title{
                width: 700px;
                font-size: 32px;
                font-weight: bold;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                position: absolute;
                top: 150px;
                left: 75px;
            }
            .info_txt{
                width: 700px;
                height: auto;
                line-height: 30px;
                font-size: 20px;
                font-weight: normal;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: flex-start;
                position: absolute;
                top: 250px;
                left: 80px;
                >p{
                width: 156px;
                height: auto;
                }
            }
        }
    }
}

#how{
    width: 100%;
    height: 1260px;
    background: #FEF5F3;
    position: relative;
    margin-bottom: 380px;
    // top: 80%;
    #howto{
        .how_img{
            width: 1281px;
            height: 326px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            position: absolute;
            top: -150px;
            left: 50%;
            transform: translateX(-50%);
            img{
                width: 407px;
                height: 326px;
            }
        }
    }
    #how_txt{
        width: 1174px;
        height: 476px;
        position: absolute;
        // display: inline-block;
        background: rgba(255, 255, 255, 0.5);
        border: 1px solid #EA0429;
        border-radius: 30px;
        top: 300px;
        left: 50%;
        transform: translateX(-50%);
        padding: 90px 90px 80px 90px;
        >h4{
            font-weight: bold;
            font-size: 28px;
            margin-bottom: 15px;
        }
        >p{
            font-size: 24px;
            line-height: 40px;
            margin: 0 0 30px 80px;
            &:nth-of-type(3){
                margin-bottom: 80px;
            }
            &:nth-of-type(4){
                margin-bottom: 0px;
            }
        }
    }
    #how_no{
        width: 770px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom: -110px;
        left: 35%;
        align-items: flex-end;

        .no_wrapper{
            width: 150px;
            height: auto;
            text-align: center;
            .how1{
                width: 90px;
            }
            >p{
                margin: 10px;
            }
        }
    }
}

#best{
    width: 100%;
    padding-bottom: 200px;
    .best_wrapper{
        >h3{
            font-size: 40px;
            font-weight: bold;
            margin-bottom: 50px;
        }
        width: 1290px;
        margin: 0px auto;
        .inner_wrapper{
            width: 400px;
            display: inline-grid;
            justify-items: start;
            margin: 0 0 40px 40px;
            &:nth-of-type(1){
                margin-left: 0;
            }
            &:nth-of-type(4){
                margin-left: 0;
            }
            .best_img{
                width: 400px;
                height: 300px;
                background: #fff;
                >img{
                    width: 400px;
                    height: 300px;
                    border-radius: 10px;
                    border: 1px solid #F79BA9;
                }
            }
            .content_wrap{
                // width: 100%;
                height: 145px;
                position: relative;
                margin: 20px;
                .best_name{
                    >span{
                        color: #D90327;
                        font-size: 20px;
                    }
                    font-weight: bold;
                    font-size: 24px;
                }
                .best_txt{
                    font-size: 16px;
                    padding: 5px;
                }
                .best_btn{
                    font-weight: 16px;
                    cursor: pointer;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    width: 120px;
                    height: 40px;
                    background: #F597A5;
                    border-radius: 5px;
                    color: #fff;
                    &:hover{
                        background: #EA0429;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: 354px;
    background: linear-gradient(180deg, #AB1A31 0%, #4C3B3E 100%);
    #sns{
        width: 194px;
        padding: 85px 0 80px 0;
        margin-left: 25%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        >a:hover{
            filter: invert(65%) sepia(19%) saturate(6396%) hue-rotate(309deg) brightness(96%) contrast(97%);
        }
    }
    .footer_txt{
        width: 607px;
        height: 66px;
        display: block;
        margin-left: 25%;
        >img{
            width: 99px;
            height: 42px;
            float: left;
        }
        >p{
            float: left;
            margin-left: 30px;
            color: #fff;
            >a{
                color: #fff;
            }
            &:nth-of-type(1){
                font-weight: 300;
            }
            &:nth-of-type(3){
                font-weight: bold;
            }
        }
    }
}