@charset "utf-8";
@import "default.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);



body{
    background: #ededed;
    font-family: 'Noto Sans KR', sans-serif;
}
#header{
    width: 100%;
    height: 100px;
    top: 0;
    background: #D90327;
    position: relative;
    z-index: 1;
}
#innerbox{
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    z-index: 99999;
    h1{
        position: absolute;
        z-index: 9999;
        width: 99px;
        height: 42px;
        top: 25px;
        left: 20%;
    }
    .navigation{
        width: 100%;
        height: 100px;
        position: fixed;
        display: flex;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.5) 100%);
        backdrop-filter: blur(15px);
        .gnb{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 50px;
            position: absolute;
            line-height: 50px;
            font-size: 1.15rem;
            top: 20px;
            left: 32%;
            >li{
                justify-content: space-between;
                text-align: center;
                margin-left: 30px;
                >a{
                    font-weight: 500;
                    color: #fff;
                    >span{
                        display: block;
                        width: 100%;
                        height: 5px;
                        background: #fff;
                        margin-top: -10px;
                    }
                }
                .sub{
                    width: 60%;
                    height: 500px;
                    background: #fff;
                    position: absolute;
                    top: 75px;
                    left: -160px;
                    box-sizing: border-box;
                    border-radius: 0 0 20px 20px;
                    display: none;
                    >li{
                        display: flex;
                        flex-direction: column;
                        line-height: 40px;
                        text-align: left;
                        margin: 20px 0 0 10%;
                        >a{
                            color: #222;
                            >span{
                                position: absolute;
                                top: 48px;
                                left: 330px;
                            }
                        }
                        a:hover{
                            color: #f02;
                        }
                    }
                    >li:first-child{
                        margin-top: 40px;
                    }
                }
            }

        }
    }
}
#navbar{
    display: none;
    .control-bar{
        .wrapper{

        }
        .latest{

        }
        .to-top{

        }
    }
}

#main_slide{
    width: 100%;
    height: auto;
    position: relative;
    >button{
        width: 80px;
        height: 100px;
        background: rgba(255, 255, 255, 0.6);
        position: absolute;
        cursor: pointer;
        z-index: 8888;
        &:nth-of-type(1){
            left: 0;
            top: 40%;
        }
        &:nth-of-type(2){
            right: 0;
            top: 40%;
            transform: rotateY(180deg);
        }
        >img{
            margin:25px;
            left: 20px;
        }
    }
    >ul{
        display: flex;
        overflow: hidden;
        >li{
            >img{
                width: 100vw;
            }
            
        }
        .slide1{
            .inner-wrapper1{
                >p{
                    width: 560px;
                    height: 35px;
                    position: absolute;
                    top: 40%;
                    color: #fff;
                    left: 15%;
                    font-size: 30px;
                    &:nth-of-type(2){
                        top: 55%;
                    }
                    &:nth-of-type(3){
                        top: 410px;
                        font-size: 0.9rem;
                        top: 80%;
                    }
                }
        }
        }
        .slide2{

        }
        .slide3{

        }
    }
    
}

.inner_banner{
    .main_banner{
        .info{
            .info_wrapper{
                .info_img{

                }
                .info_title{

                }
                .info_txt{

                }
            }
        }
    }
}

#howto{
    .how_img{

    }
}