@charset "utf-8";
@import "default.css";
@import "media_query.css";

body{ font-family:"맑은 고딕", sans-serif; overflow-x:hidden;}

#main_header{ width:100%;}

#main_header>.header_line{
	width:100%; height:17px;
	background:#ffe4e4;
	position:relative;
	padding-top:4px;
}
#main_header>.header_line>.inner_line{
	width:1320px; height:16px;
	margin:0px auto;
	vertical-align:middle;
}
#main_header>.header_line>.inner_line>a{
	width:65px; height:16px;
	margin-right:30px;
	color:#151515;
	float:right;
	line-height:16px;
	display:block;
}
#main_header>.header_line>.inner_line>a>p{ font-size:9px;  }
#main_header>.header_line>.inner_line>a img{
	width:12px; height:13px;
	display:inline-block;
	margin-left:4px
}

/* #main_header>.head_img{
	width:100%; height:125px;
	background-color:#ED3D91;
} */
#main_header>.head_img>.desk_color>img{
	width:1920px; height:129px;
	margin:0px auto;
	z-index:1000;
}
/* #main_header>h1{
	width:308px; height:45px;
	margin:0px auto; 
} */
/* #main_header>h1>a>.desk_logo{
	width:308px; height:45px;
	display:block; margin:-70px auto;
} */

#main_header>.tnb{
	width:1280px; height:30px;
	margin:-40px auto;
	position:relative;
}
#main_header>.tnb>a{
	width:34px; height:28px;
	display:block;
	float:right;
	font-weight:bold;
	font-size:24px;
	color:#151515;
}
#main_header>.tnb>.toggle_btn{ display:none; }


#main_header>.gnb{
	width:1200px; height:35px;
	margin:0px auto;
	line-height:35px;
	margin-top:60px;
	position:relative;
    z-index:999999;
}
#main_header>.gnb>ul>li{
	width:240px; height:34px;
	position:relative;
	float:left;
	margin:0px auto;
}
#main_header>.gnb>ul>li>a{
	width:173px; height:34px;
	font-size:20px;
	font-weight:bold;
	display:block;
	line-height:34px;
	text-align:center;
	color:#151515;
	margin:0px auto;
}
#main_header>.gnb .sub{
	width:238px;
	height:294px;
	background:#fff;
	border:1px solid #ccc;
	border-radius:0px 0px 30px 30px;
	display:none;
	box-shadow:3px 4px 7px rgba(0, 0, 0, 0.3);
}
#main_header>.gnb .sub>ul>li>a{
	display:block;
	margin:0px auto;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	line-height:50px;
	padding-top:10px;
	color:#151515;
}
#main_header>.gnb .sub .sub2{
	margin:0px auto;
	font-size:16px;
	font-weight:bold;
	text-align:center;
	background:#ffe4e4;
	display:none;
}
#main_header>.gnb .sub .sub2>ul>li>a{
	color:#151515;
}

#main_header>.gnb>ul>li>a:hover{ color:#ed2885;}
#main_header>.gnb>ul>li>.sub>ul>li>a:hover{ color:#ed2885;}
#main_header>.gnb>ul>li>.sub>ul>li>.sub2>ul>li>a:hover{ color:#ed2885;}
#main_header>.gnb:hover .sub{ display:block; }
#main_header>.gnb .sub:hover{ border-color: #ed2885; }

#main_container{ width:100%; height:100%; }
#main_container>.main_slides{
	width:1920px; height:680px;
	margin:0px auto;
}


/* --------------------heade end------------------*/


#main_container>.main_slides>.slide1>img{
	width:1920px; height:680px;
}

#main_container>.main_slides>.slide1>.inner_banner{
	width:1280px; height:680px;
	display:block;
	margin:-680px auto;
	position:relative;
}
#main_container>.main_slides>.slide1>.inner_banner>.left_star>.s1{
	width:74px; height:90px;
	margin:57px 0 0 341px;
	z-index:999;
	position:absolute;
}
#main_container>.main_slides>.slide1>.inner_banner>.left_star>.s2{
	width:40px; height:50px;
	margin:35px 0 0 449px;
	z-index:999;
	position:absolute;
}
#main_container>.main_slides>.slide1>.inner_banner>.right_star>.s3{
	width:74px; height:90px;
	margin:305px 0 0 1007px;
	position:absolute;
}
#main_container>.main_slides>.slide1>.inner_banner>.right_star>.s4{
	width:54px; height:65px;
	margin:388px 0 0 1067px;
	position:absolute;
}
#main_container>.main_slides>.slide1>.inner_banner>.more{
	display:block;
	width:332px; height:39px;
	line-height:39px;
	text-align:center;
	margin:533px 0 0 734px;
	border:1px solid #8cddff;
	border-radius:50px;
	background:rgba(255, 255, 255, 0.5);
	position:absolute;
	font-weight:bold;
	color:#00b2ff;
}
#main_container>.main_slides>.slide1>.inner_banner>.more>a{
	
}
#main_container>.search_box{
	width:924px; height:124px;
	margin:0px auto;
}
#main_container>.search_box>form{
	width:924px; height:70px;
	background:#fff;
	border:1px solid #ED3D91;
	box-shadow:0px 3px 7px rgba(0, 0, 0, 0.2);
	border-radius:50px;
	vertical-align:middle;
}
#main_container>.search_box>form>input{
	width:750px; height:60px;
	margin-left:20px;
	margin-top:5px;
	border:0px;
	font-size:28px;
	line-height:60px;
	text-align:left;
	vertical-align:middle;
	color:#333;
	padding-left:60px;
	background-color:transparent;
	outline:none;
}
#main_container>.search_box>form>button{
	width:100px; height:50px;
	margin-left:30px;
	margin-top:5px;
	color:#fff;
	background: #ED3D91;
	border-radius:50px;
	vertical-align:middle;
	font-size:24px;
	cursor:pointer;
}
#main_container>.search_box>.search_keyword>ul{
	overflow:hidden;
	margin-top:10px;
}
#main_container>.search_box>.search_keyword>ul>li>a{
	width:100px; height:40px;
	margin-left:15px;
	background:#fff;
	border:1px solid #f9ce;
	border-radius:50px;
	line-height:40px;
	text-align:center;
	display:block;
	float:left;
	color:#9c9c9c;
}
#main_container>.search_box>.search_keyword>ul>li>a:hover{
	color:#ed2885;
	border-color:#ed2885;
}

/* ------------------container end------------------- */


#sub_slides{
	padding:150px 0px;
}
#sub_slides>.icecream{
	width:1650px; height:400px;
	margin:0px auto;
}
#sub_slides>.icecream>ul{
	width:2300px; height:400px;
}
#sub_slides>.icecream>ul>li{
	width:324px; height:342px;
	border:1px solid #ed2885;
	border-radius:40px;
	/* display:block;
	float:left; */
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left:15px;
}
#sub_slides>.icecream>ul>li>img{
	width:300px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}
#sub_slides>.icecream>ul>.height>img{
	/* height: 300px; */
	width: 200px;
}
.swiper-pagination-clickable .swiper-pagination-bullet{
	background: #8cddff;
}
.swiper-pagination-clickable .swiper-pagination-bullet-active{
	background: #ffeaa1;
}

#recipe{
	width:100%;
	background-color:#f1fbff;
	padding-top:80px;
	padding-bottom:80px;
}
#recipe>h2{
	font-size:30px;
	font-weight:bold;
	margin-bottom:80px;
	text-align:center;
}
#recipe>h2>.red{
	color:#ed2885;
	font-size:40px;
	font-weight:bold;
}
#recipe>.recipe_info{
	width:1480px;
	height:350px;
	margin:0px auto 100px;
	overflow:hidden;
}
#recipe>.recipe_info>ul{
	width:3000px;
}
#recipe>.recipe_info>ul>li{
	float:left;
	margin-left: 50px;
	position: relative;
}
#recipe>.recipe_info>ul>li>img{
	width: 310px;
	height: 310px;
	box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
}
#recipe>.recipe_info>ul>li>div{
	width: 310px;
	height: 110px;
	position: absolute;
	background: #fff;
	display: inline-block;
	bottom: 0;
	text-align: center;
	line-height: 30px;
	padding-top: 20px;
	border-radius: 60px 60px 0 0;
	box-shadow: 3px 0px 3px rgba(0, 0, 0, 0.25);
}
#recipe>.recipe_info>ul>li>div>a{
	color: #ED3D91;
	font-weight: bold;
}
#recipe>.recipe_info>ul>li>div>a:hover{
	color: #00b2ff;
}
#recipe>.recipe_sns{
	width:1780px;
	height:350px;
	margin:0px auto 80px;
	overflow:hidden;
}
#recipe>.recipe_sns>ul{
	width:3000px;
}
#recipe>.recipe_sns>ul>li{
	float:left;
	margin-left: 40px;
}
#recipe>.recipe_sns>ul>li>img{
	width: 310px;
	height: 310px;
	border-radius: 20%;
	border: 1px solid #ED3D91;
}

/* ---------------------recipe container end-------------------- */

#cf_container{
	width:100%; height:1305px;
	padding:180px 0px;
}
#cf_container>.innerbox{
	width:1120px; height:1054px;
	margin:0px auto;
}
#cf_container>.innerbox>h2{
	width:1112px; height:112px;
	font-size:36px;
	font-weight:bold;
	margin-bottom:100px;
	border:1px solid #fef2f8;
	background:#fef2f8;
	border-radius:50px;
	text-align:center;
	line-height:112px;
	margin:0px auto;
}
#cf_container>.innerbox>h2>.red{
	color:#ed2885;
	font-size:40px;
	font-weight:bold;
}
#cf_container>.innerbox>.sns_img{
	width:393px; height:740px;
	display:block;
	float:left;
	margin:68px 0px 0px 47px;
}
#cf_container>.innerbox>.youtube{
	width:580px; height:642px;
	display:block;
	float:left;
	margin-top:100px;
	margin-left:55px;
}
#cf_container>.innerbox>.youtube>div{
width:580px; height:300px;
margin-bottom:42px;
}
#cf_container>.innerbox>.youtube>div>iframe{
width:580px; height:300px;
}
#cf_container>.innerbox>.youtube>.cf2{
	margin-bottom:63px;
}
#cf_container>.innerbox>.sns_btn{
	width:1054px; height:94px;
	display:block;
	float:left;
	margin-left:25px;
}
#cf_container>.innerbox>.sns_btn>ul>li{
	width:94px; height:94px;
	box-shadow:2px 3px 4px rgba(0, 0, 0, 0.2);
	border-radius:50px;
	display:block;
	float:left;
	overflow:hidden;
	margin-left:15px;
}
#cf_container>.innerbox>.sns_btn>ul>li:first-child{ margin:0px;}
#cf_container>.innerbox>.sns_btn>a{
	width:243px; height:28px;
	padding:30px 90px 30px 50px;
	margin-right:30px;
	font-size:24px;
	font-weight:bold;
	box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.2);
	border-radius:50px;
	background:#fef2f8;
	color:#ED3D91;
	float:left;
}

/* -------------------cf container end--------------------- */

#event_info{
	width:100%; height:1113px;
}
#event_info>.bg_logo{
	width:25%;
	height:25%;
	background:url("../img/ci_logo.png") no-repeat;
	transform:translateY(-300px) rotate(-30deg);
	background-size:contain;
	opacity:0.04;
	position:absolute;
	left:260px;
}
#event_info>h2{
	width:620px; height:42px;
	font-size:36px;
	font-weight:bold;
	line-height:41px;
	text-align:center;
	margin:0px auto;
}
#event_info>h2>span{
	width:40px; height:40px;
	background:#ed2885;
	transform:rotate(-45deg);
	display:block;
}
#event_info>h2>.box1{
	float:left;
	margin-right:100px;
}
#event_info>h2>.box2{
	float:right;
	margin-left:100px;
}
#event_info>.info_scr{
	width:1041px; height:59px;
	box-shadow:inset 2px 2px 4px rgba(0, 0, 0, 0.2);
	border-radius:50px;
	background:#ffe4e4;
	overflow:hidden;
	display:block;
	margin:60px auto;
}
#event_info>.info_scr>.info_btn{
	width:600px; height:30px;
	position: relative;
}
#event_info>.info_scr>.info_btn>h4{
	width:59px; height:30px;
	border-radius:50px;
	background:#ED3D91;
	color:#fff;
	font-weight:bold;
	font-size:24px;
	margin:15px;
	text-align:center;
	line-height:30px;
}
#event_info>.info_scr>.info_btn>.info_title{
	width:600px; height:30px;
	font-size:28px;
	margin-left:100px;
	display:block;
	top: 0px;
	position:absolute;
	color:#333;
	line-height:30px;
}

#event_info>.event_container{
	width:1215px; height:684px;
	margin:0px auto;
}
#event_info>.event_container>.content{
	width:770px; height:682px;
	margin:0px auto;
	display:block;
	float:left;
}
#event_info>.event_container>.content>.wrap{
	width:704px; height:682px;
	overflow:hidden;
	float:left;
}
#event_info>.event_container>.content>.wrap>.news_wrapper{
	width:704px;
	height:1000px;
	position:relative;
	overflow-y: auto;
}
#event_info > .event_container > .content > .wrap > .news_wrapper::-webkit-scrollbar {
	width: 0;
	height: 0;
	background-color: transparent;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box{
	width:650px;height:290px;
	border:20px solid #fff4f9;
	border-radius:30px;
	margin-bottom:30px;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box:last-child{
	margin-bottom: 400px;
}

#event_info>.event_container>.content img{
	width:200px; height:200px;
	display:block;
	float:left;
	padding:30px;
	margin-top:15px;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt{
	width:356px; height:162px;
	margin-left:270px;
    margin-top:45px;
	text-align:left;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt>h3{
	font-weight:bold;
	font-size:20px;
	line-height:20px;
	letter-spacing:-1px;
	padding-bottom:20px;
	color:#151515;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt>p{
	font-size:18px;
	line-height:25px;
	letter-spacing:-1px;
	padding-bottom:20px;
	color:#646464;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_more{
	width:102px; height:62px;
	font-size:20px;
	text-align:right;
	line-height:20px;
	color:#9c9c9c;
	display: block;
	float:right;
	margin-right:15px;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_more>p{
	margin-bottom:10px;
}
#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_more>a{
	background:url("../img/more_btn.png") no-repeat;
	width:10px; height:10px;
	display: inline-block;
	text-indent:-999em;
	text-align:left;
}

#event_info>.event_container>.content>.control_bar{
	width:6px; height:680px; 
	float:right; 
	background:#ededed;
	position:relative;
	right:30px;
}
#event_info>.event_container>.content>.control_bar>.ctr_btn{
	width:30px; height:30px;
	display:block;
	background:#ed2885;
	transform:rotate(45deg);
	position:absolute;
	left:-12px; top:15px;
}

#event_info>.event_container>.right_content{
	width:420px; height:682px;
	float:right;
}
#event_info>.event_container>.right_content>.event_banner{
	width:412px; height:326px;
	border:2px solid #333;
	border-radius:30px;
	margin-bottom:30px;
}
#event_info>.event_container>.right_content>.information{
	width:410px; height:324px;
	box-sizing:border-box;
	border:1px solid #ED3D91;
	border-radius:30px;
	text-align:left;
	font-size:24px;
	line-height:24px;
	padding:20px;
}
#event_info>.event_container>.right_content>.information>h3{
	font-weight:bold;
	font-size:36px;
	line-height:36px;
	text-align:left;
	color:#ED3D91;
	margin:18px 0px 24px 24px;
}
#event_info>.event_container>.right_content>.information>p{
	font-weight:600;
	font-size:32px;
	line-height:32px;
	text-align:left;
	color:#333;
	margin:0px 0px 3px 24px;
}
#event_info>.event_container>.right_content>.information>ul{
	margin:15px 0px 0px 24px;
}
#event_info>.event_container>.right_content>.information a{
	width:auto;
	padding:3px 15px 2px 15px;
	font-size:16px;
	line-height:25px;
	text-align:center;
	color:#464646;
	border:1px solid #9c9c9c;
	border-radius:50px;
	display:block;
	float:left;
	margin-left:5px;
	margin-bottom:5px;
}
#event_info>.event_container>.right_content>.information a:hover{
	color:#ed2885;
	border-color:#ed2885;
}

/* -------------------------event container end-------------------- */

#main_footer{
	width:100%; height:auto;
	background:#464646;
}
#main_footer>.toTop{
	width:50px; height:50px;
	background:#ed2885;
	transform:rotate(45deg);
	text-align:center;
	line-height:50px;
	color:#fff;
	display:block;
	z-index:99;
	position:fixed;
	text-indent:-9999px;
	right:100px;
	bottom:100px;
}
#main_footer>.footer_innerbox{
	width:100%; height:90px;
	border-bottom:1px solid #5c5c5c;
}
#main_footer>.footer_innerbox>.footer_top{
	width:1280px; height:90px;
	margin:0px auto;
}
#main_footer>.footer_innerbox>.footer_top>.footer_menu{
	width:360px; height:18px;
	display:block;
	float:left;
	margin-left:48px;
	font-size:14px;
	margin-top:38px;
}
#main_footer>.footer_innerbox>.footer_top>.footer_menu>li{
	display:block;
	float:left;
	margin-right:14px;
}
#main_footer>.footer_innerbox>.footer_top>.footer_menu a{
	color:#9c9c9c;
}
#main_footer>.footer_innerbox>.footer_top>.footer_sns{
	width:225px; height:40px;
	display:block;
	float:right;
	margin-top:25px;
	margin-right:54px;
}
#main_footer>.footer_innerbox>.footer_top>.footer_sns>li{
	display:block;
	float:left;
	margin-left:5px;
}
#main_footer>.footer_bottom{
	width:1280px; height:150px;
	margin:0px auto;
	color:#878787;
}
#main_footer>.footer_bottom>.footer_txt{
	font-weight:bold;
	margin-left:47px;
	margin-top:44px;
}
#main_footer>.footer_bottom>.footer_txt>h4{
	font-size:20px;
}
#main_footer>.footer_bottom>.footer_txt>address{
	font-size:16px;
}

/*------------------------footer end-----------------------------*/
/*-----------------------meedia query----------------------------*/

@media screen and ( min-width:1025px){
	.desktop{ display:block;}
	.mobile{ display:none;}
	#main_header>.header_line{ width:100%; }
	#main_header>.header_line>.inner_line{ margin:0px auto; left:20px; }
	/* #main_header>.header_line>.head_img>img{
		width:1920px; height:129px;
		margin:0px auto;
		z-index:1000;
	} */
	#main_header>.head_img{
		width:100%; height:125px;
		background-color:#ED3D91;
	}
	#main_header>h1{
		width:308px; height:45px;
		margin:0px auto;
	}
	#main_header>h1>a>.desk_logo{
		width:308px; height:45px;
		display:block; margin:-70px auto;
	}
	#main_header>h1>a>.mb_logo{
		display:none;
	}
}


@media screen and ( max-width:640px ){
	.mobile{ display:block; }
	.desktop{ display:none; }
	#main_header{
		width:100%;  height:75px; 
		background:url("../img/mobile_color.png") no-repeat;
		background-size:contain;
		margin:0px auto;
	}
	/* #main_header>.header_line>.inner_line{
		width:100%;
		display: inline-block;
		margin-left:25px;
		margin-bottom:5px;
	} */
	#main_header .mb_logo>img{
		width:145px; height:19px;
		margin:0px auto;
		padding-top:15px;
	}

	#main_header>.tnb{ width:100%; height:55px;}
	#main_header>.tnb>a{
		display:block;
		float:left;
		margin-left:15px;
		margin-top:20px;
		font-size:16px;
		color:#fff;
	}

	#main_header>.tnb>.toggle_btn{
		display:block;
		border:0px;
        background:transparent;
		margin: 10px 20px 0px 0px;
		width:25px; height:25px;
		cursor:pointer;
		float: right;
	}
	#main_header>.tnb>.sronly{
		width:0px; height:0px;
		font-size:0px;
		line-height:0px;
		overflow:hidden;
		visibility:hidden;
	}
	#main_header>.tnb>.toggle_btn>span{
		display:block;
		width:25px;
		height:3px;
		margin:8px 0px;
		background:#fff;
		transition:all .4s;
		opacity:1;
		border-radius:1px;
	}
	#main_header>.tnb>.toggle_btn>.b1{
		transform:translate(0px, 11px) rotate(45deg);
	}
	#main_header>.tnb>.toggle_btn>.b2{ opacity:0; }
	#main_header>.tnb>.toggle_btn>.b3{
		transform:translate(0px, -11px) rotate(-45deg);
	}

	#main_container>.main_slides{
		width:100%; height:415px;
		position:relative;
		top:-10px;
		background:url("../img/mobile/mobile_main.png") no-repeat center center;
		background-size:100%;
	}

	#main_container>.main_slides>.slide1>.inner_banner{
		width:100%; height:360px;
		position:absolute;
	}
	#main_container>.main_slides>.slide1>.inner_banner>.left_star{
		display:block;
		position:absolute;
		top:200px; left:50px;
	}

	#main_container>.search_box{
		padding-top:10px;
		width:314px;
		margin:0px auto;

	}
	#main_container>.search_box>form{
		width:312px; height:34px;
		margin:0px auto;
	}
	#main_container>.search_box>form>button{
		width:70px; height:30px;
		font-size:15px;
		text-align:center;
		margin:2px auto;
		position:absolute;
	}
	#main_container>.search_box>form>input{
		width:200px; height:34px;
		font-size:15px;
		padding:0px;
		margin:0px 20px auto;
		line-height:34px;
	}
	#main_container>.search_box>.search_keyword{
		width:312px;
		position:absolute;
	}
	#main_container>.search_box>.search_keyword>ul>li>a{
		width:60px; height:auto;
		font-size:13px;
		color:#9c9c9c;
		margin-left:5px;
		line-height:13px;
		padding:5px;
	}

	#sub_slides{ padding:10px;}
	#sub_slides>.icecream{
		width:360px; height:330px;
		margin:0px auto;
	}
	#sub_slides>.icecream>ul{
		width:390px; height:350px;
		margin:0px auto;
	}
	#sub_slides>.icecream>ul>li{
		width:110px; height:110px;
		/* float:left; */
		margin:10px 0px 10px 10px;
		border-radius:30px;
		display: flex;
      justify-content: center;
      align-items: center;
	}
	#sub_slides>.icecream>ul>li>img{
		width:300px;
		height:310px;
		margin:5px auto;
	}
	#sub_slides>.icecream>ul>li:nth-child(1){
		margin-left:0px;
	}
	#sub_slides>.icecream>ul>li:nth-child(4){
		margin-left:0px;
	}

	#recipe{
		width:390px; height:735px;
		padding:30px 0px;
	}
	#recipe>h2{
		width:340px; height:80px;
		font-size:18px;
		margin:0px auto;
		padding-top:40px;
	}
	#recipe>h2>.red{
		font-size:20px;
	}

	#recipe>.recipe_info{
		width:260px; height:306px;
		margin:0px auto;
	}
	#recipe>.recipe_sns{
		width:360px; height:164px;
	}
	#recipe>.recipe_sns>ul>li>img{
		width:160px; height:160px;
		border-radius:30px;
		margin-left:15px;
	}
	#recipe>.recipe_sns>ul>li>img:hover{
		border:2px solid #00b2ff;
	}
	
	#cf_container{
		width:100%; height:auto;
		padding-top:30px;
		padding-bottom:70px;
	}
	#cf_container>.innerbox{
		width:100%; height:auto;
		padding-top:40px;
	}
	#cf_container>.innerbox>h2{
		width:240px; height:48px;
		font-size:14px;
		font-weight:normal;
		line-height:16px;
		padding-top:15px;
	}
	#cf_container>.innerbox>h2>.red{
		font-size:15px;
		font-weight:bold;
	}

	#cf_container>.innerbox>.sns_img{
		display:none;
	}
	#cf_container>.innerbox>.youtube{
		width:100%; height:auto;
		margin:0px auto;
		float:none;
	}
	#cf_container>.innerbox>.youtube>div{
		width:320px; height:172px;
		margin:20px auto;
	}
		#cf_container>.innerbox>.youtube>div>iframe{
		width:100%; height:100%;
		padding-bottom:30px;
	}

	#cf_container>.innerbox>.sns_btn{
		width:100%; height:auto;
		margin:0px auto;
		float:none;
	}
	#cf_container>.innerbox>.sns_btn>a{
		width:300px; height:20px;
		margin:0px auto;
		font-size:16px;
		line-height:20px;
		padding:15px;
		float:none;
		text-align:center;
	}
	#cf_container>.innerbox>.sns_btn>ul{
		width:265px; height:auto;
		margin:20px auto;
		padding-bottom:80px;
	}
	#cf_container>.innerbox>.sns_btn>ul>li{
		width:40px; height:40px;
		margin-left:5px;
	}
	#cf_container>.innerbox>.sns_btn>ul>li:first-child{ margin:0px;}
	#cf_container>.innerbox>.sns_btn>ul>li>a>img{
		width:37px; height:37px;
		margin:0px auto;
	}

	#event_info{
		width:100%; height:auto;
	}
	#event_info>.bg_logo{
		width:50%;
		height:50%;
		transform:translateY(-100px) translateX(90px) rotate(-20deg);
		background-size:contain;
		left:0px;
	}
	#event_info>h2{
		width:100%; height:25px;
		font-size:23px;
		margin:0px auto;
		line-height:25px;
		padding-top:50px;
	}
	#event_info>h2>span{
		width:25px; height:25px;
		display:block;
		float:left;
	}
	#event_info>h2>.box1{
		margin:0px auto;
	}
	#event_info>h2>.box2{
		margin:0px auto;
	}

	#event_info>.info_scr{
		width:90%; height:auto;
	}
	#event_info>.info_scr>.info_btn{
		width:100%; height:auto;
	}
	#event_info>.info_scr>.info_btn>h4{
		width:50px; height:30px;
		font-size:18px;
		line-height:30px;
	}
	#event_info>.info_scr>.info_btn>.info_title{
		width:100%; height:auto;
		font-size:18px;
		margin-left:70px;
	}

	
	#event_info>.event_container{
		width:100%; height:auto;
	}
	#event_info>.event_container>.content{
		width:100%; height:265px;
		float:none;
		overflow:hidden;
		margin-bottom:40px;
		margin-left:30px;
	}
	#event_info>.event_container>.content>.wrap{
		width:90%; height:auto;
		float:left;
	}
	#event_info>.event_container>.content>.wrap>.news_wrapper{
		width:100%; height:auto;
		margin:0px auto;
	}
	#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box{
		width:90%; height:auto;
		border:10px solid #fff4f9;
		border-radius:15px;
		margin-bottom:20px;
		overflow:hidden;
	}
	#event_info>.event_container>.content img{
		width:45%; height:auto;
		margin:0px;
		padding:10px;
	}
	#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt{
		width:100%; height:auto;
		margin-left:0px;
		margin-top:15px;
	}
	#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt>h3{
		text-align:left;
		font-size:16px;
	}
	#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_txt>p{
		text-align:left;
		font-size:15px;
	}

	#event_info>.event_container>.content>.wrap>.news_wrapper>.news_box>.info_more{
		width:80px; height:auto;
		font-size:15px;
		text-align:right;
		float:right;
		/* line-height:20px;
		margin:20px 20px 0px 0px; */
	}

	#event_info>.event_container>.content>.control_bar{
		width:2px; height:225px;
		float:right; 
		right:40px;
		margin-top:15px;
	}
	#event_info>.event_container>.content>.control_bar>.ctr_btn{
		width:10px; height:10px;
		left:-4px; top:20px;
		float: right;
	}

	#event_info>.event_container>.right_content{
		width:90%; height:auto;
		float:none;
		margin:0px auto;
	}
	#event_info>.event_container>.right_content>.event_banner{
		width:90%; height:auto;
		border:1px solid #333;
		border-radius:15px;
		margin:0px auto;
		margin-bottom:20px;
	}
	#event_info>.event_container>.right_content>.information{
		width:90%; height:auto;
		border-radius:15px;
		font-size:20px;
		line-height:20px;
		padding:10px;
		margin:0px auto;
		margin-bottom:80px;
	}
	#event_info>.event_container>.right_content>.information>h3{
		font-size:25px;
		line-height:25px;
		margin:8px 0px 14px 14px;
	}
	#event_info>.event_container>.right_content>.information>p{
		font-size:25px;
		line-height:25px;
		margin:0px 0px 10px 14px;
	}
	#event_info>.event_container>.right_content>.information>ul{
		width:90%; height:100px;
		margin:5px 0px 10px 14px;
		display: block;
	}

	#main_footer>.toTop{
		width:40px; height:40px;
		right:50px;
		bottom:50px;
	}
	#main_footer>.footer_innerbox{
		width:100%; height:90px;
	}
	#main_footer>.footer_innerbox>.footer_top{
		width:100%; height:auto;
	}
	#main_footer>.footer_innerbox>.footer_top>.footer_menu{
		overflow:hidden;
	}
	#main_footer>.footer_innerbox>.footer_top>.footer_sns{
		width:260px; height:auto;
		float:right;
		padding:20px;
		margin:40px 50px auto;
		overflow:hidden;
	}
	#main_footer>.footer_bottom{
		width:100%; height:auto;
		padding-bottom:30px;
	}
	#main_footer>.footer_bottom>.footer_txt{
		margin:0px auto;
		text-align:center;
		display:block;
	}
	#main_footer>.footer_bottom>.footer_txt>h4{
		font-size:15px;
	}
	#main_footer>.footer_bottom>.footer_txt>address{
		font-size:12px;
		padding-bottom:30px;
	}
	#main_footer>.footer_bottom>.footer_txt>p{
		font-size:8px;
	}


	/* #main_header>.header_line{ width:640px; height:17px; }
	#main_header>.header_line>.inner_line{ float:right; }
	#main_header>.head_img>.mobile_color>img{
		width:640px;
		height:75px;
		margin:0px auto;
		z-index:1000;
	}
	#main_header .mb_logo>img{
		margin:-50px auto;
		width:300px; height:45px;
	}
	#main_header>.tnb{
		width:640px; height:55px;
		margin:0px auto;
	}
	#main_header>.tnb>a{
		display:block;
		float:left;
		margin-left:15px;
		margin-top:10px;
		font-size:20px;
		color:#fff;
	}
	#main_header>.tnb>.toggle_btn{
		display:block;
		border:0px;
        background:transparent;
		right:40px;
		top:10px;
		width:25px; height:25px;
		cursor:pointer;
		position: absolute;
	}
	#main_header>.tnb>.sronly{
		width:0px; height:0px;
		font-size:0px;
		line-height:0px;
		overflow:hidden;
		position:absolute;
		left:-999px;
		top:-999px;
		visibility:hidden;
	}
	#main_header>.tnb>.toggle_btn>span{
		display:block;
		width:25px;
		height:3px;
		margin:8px 0px;
		background:#fff;
		transition:all .4s;
		opacity:1;
		border-radius:1px;
	}
	#main_header>.tnb>.toggle_btn>.b1{
		transform:translate(0px, 11px) rotate(45deg);
	}
	#main_header>.tnb>.toggle_btn>.b2{ opacity:0; }
	#main_header>.tnb>.toggle_btn>.b3{
		transform:translate(0px, -11px) rotate(-45deg);
	} */
}

